.poke_list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding-left: 0;

    li { 
        text-align: center;
        width: 20rem;
        a {
           display: flex; 
           flex-direction: column;
           font-size: 1.5em;
           text-decoration: none;
           text-transform: capitalize;
           color: var(--black-color);
        }
    }   
}