:root {
  --yellow-color: rgb(255, 203, 5);
  --blue-color: rgb(42, 117, 187);
  --nav-text: rgb(121, 7, 7);
  --background-nav: rgb(239, 83, 80);
  --white-color: rgb(255, 248, 246);
  --background-section: rgb(250, 240, 240);
  --black-color: rgb(27, 27, 27);
  --hover-color: rgb(138, 43, 226);
}

@font-face {
  font-family: "poke-font";
  src: local("poke-font"), url(../fonts/Pokemon-Solid.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: "sour-gummy";
  src: local("sour-gummy"), url(../fonts/SourGummy-Thin.ttf) format("truetype");
}
html {
  font-size: 62.5%;
  font-family: "sour-gummy";
  background-color: var(--white-color);
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

aside, section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 5em 1% 0 1%;
  background-color: var(--background-section);
  box-shadow: 0 0 1em 1px rgb(77, 77, 77);
}

aside {
  width: 18%;
}

section {
  width: 78%;
}

h1, h2 {
  font-family: "poke-font";
  color: var(--yellow-color);
  -webkit-text-stroke: 1px var(--blue-color);
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

section p {
  font-size: 2em;
  text-align: center;
}

button {
  color: var(--yellow-color);
  background-color: var(--blue-color);
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 1em 0;
  cursor: pointer;
}
button a {
  text-decoration: none;
  color: var(--yellow-color);
}

.btn-delete {
  background-color: var(--nav-text);
}

.load {
  text-align: center;
  margin-right: 21em;
  margin-top: 5em;
  font-size: 2em;
}

.error {
  text-align: center;
  margin-right: 18em;
  margin-top: 5em;
  font-size: 2em;
}
.error p {
  text-transform: uppercase;
  color: rgb(245, 2, 2);
  margin-left: 1em;
  margin-right: 1em;
}

.no_data {
  color: var(--black-color);
  font-size: 2em;
}

/*Size*/
nav {
  width: 100%;
  padding: 0.75em;
}

/*Position*/
nav {
  display: flex;
  justify-content: center;
  gap: 1.75em;
}

/*Backgorund*/
nav {
  background-color: var(--background-nav);
}

/*Font*/
nav {
  font-size: 2em;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  color: var(--white-color);
}

/*Hover*/
nav a:hover {
  color: var(--hover-color);
}

.poke_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding-left: 0;
}
.poke_list li {
  text-align: center;
  width: 20rem;
}
.poke_list li a {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--black-color);
}

.team_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding-left: 0;
}
.team_list li {
  text-align: center;
  width: 15em;
  margin-bottom: 2em;
}
.team_list li a {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--black-color);
}
.team_list li a img {
  background-image: url("../img/pngegg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.team_list li a span {
  margin: 0.3em 0 0.5em 0;
}

section > img {
  width: 30%;
}

.detail {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail .detail_list {
  text-transform: capitalize;
  list-style: none;
  padding: 0;
}
.detail .detail_list li {
  margin-top: 1rem;
}

.button_container {
  display: flex;
  gap: 2em;
}
.button_container button {
  padding-left: 5em;
  padding-right: 5em;
}/*# sourceMappingURL=index.css.map */